/*** General ***************************/
body{
  margin: 0;
  padding: 0;
  font: 16px 'Montserrat', sans-serif;
  color: #424242;
  background: #FFF8E1;
}

p{ line-height: 1.5em; }

h1{ 
  color: #e2c15d; 
  font-size: 2.5em;
}

h2{
  font-size: 1.3em;
  margin: 0 0 32px 0;
  height: 42px;  
  color: #86685d;
  text-align: center;
}

h3{
  font-weight: 600;
  margin: 18px 0 0 0;
}

/* -- icons */
.material-icons{    
  color: #795548;
  font-size: .9em;
  margin-right: 5px;
}

/* --text */
.text--underline{
  padding-bottom: 2px;
  border-bottom: 1px dotted #e2c15d;
}

/*** Header ***************************/
header{
  padding: 20px 0 40px 0;
  text-align: center;
  color: #FFF;
  background: #4E342E;
}

/* -- Search form */
.searcher{ margin-top: 36px; }

label, input{
  display: block;
  margin: 5px auto;
}

input{
  border: 0;
  width: 350px;
  height: 16px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  outline: none;
}

::placeholder{ color: rgb(208, 206, 206); }

/*** Recipes ***************************/
.container{
  width: 80%;
  min-height: calc(100vh - 418px);
  margin: 100px auto 50px auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-areas: 'a a a' 
}

.recipe__card{
  grid-area: a;
  margin: 20px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 2px -2px 18px rgba(111, 75, 62, 0.17);
}

.card__image{
  position: relative;
  bottom: 40px;
  margin-left: 50%;
  right: 56px;
  width: 90px;
  border-radius: 50%;
  border: 12px solid #FFF;
}

.card__info{
  margin: 20px 20px 10px 20px;
  position: relative;
  bottom: 29px;
}

.recipe--text{
  margin-bottom: 0;
  min-height: 96px;
  color: #9c9c9c;
}

/* -- Btn link */
.btn__link{
  background: #424242;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
}
.btn__link:hover{
  background: #e2c15d;
}

/*** Footer ***************************/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  padding: 20px 0;
  background: #e2c15d;
  font-size: .9em;
  font-weight: 600;
}

footer p {
  margin: 3px;
}

.text--thin{
  font-weight: 300;
}

footer a{
  color: #b57611;
  text-decoration: none;
  opacity: .7;
}
footer a:hover{
  opacity: 1;
}

@media only screen and (max-width: 980px){
  .container{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-template-areas: 'a a' 
  }
}

@media only screen and (max-width: 650px){
  body{ font-size: 14px; }
}

@media only screen and (max-width: 590px){
  .container{
    grid-template-columns: 1fr;
    grid-template-areas: 'a' 
  }
  .card__info { margin-bottom: 0; }
}

@media only screen and (max-width: 460px){
  h1{ 
    font-size: 1.8em; 
    margin-left: 30px; 
    margin-right: 30px; 
  }
  
  input{ width: 70%; }

  footer{
    flex-direction: column;
    height: 22px;
  }
}